name: Zip Maker
on:
  push:
    branches: ["main"]


jobs:
  Zipper:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v1

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d-%H%M%S')"

      - name: Install zip
        run: sudo apt install zip

      - name: Make zip
        run: |
          zip osname_change_allower-${{steps.date.outputs.date}}.zip Security os_read_allower.php
          echo ::set-output name=path::osname_change_allower-${{steps.date.outputs.date}}.zip
          echo ::set-output name=filename::osname_change_allower-${{steps.date.outputs.date}}.zip
      
      - name: Create release
        id: create_release
        uses: actions/create-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{steps.date.outputs.date}}
          release_name: osname_change_allower
          body: |
            Zip file created for ldap-osname-change-allower.
          draft: false
          prerelease: false


      - name: Upload the Debian package to Release Assets
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.package_builder.outputs.path }}
          asset_name: ${{ steps.package_builder.outputs.filename }}
          asset_content_type: application/zip
